/* базовые стили по умолчанию */

* {
   box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
   margin-top: 0;
   margin-bottom: 0;
   font-weight: normal;
}

html,body {
   height: 100%;
   width: 100%;
}
body {
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  
}

a {
   text-decoration: none;
}
ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.container {
   margin: 0 auto;
   width: 950px;
}

.wrapper {
   overflow: hidden;  
   min-height: 100%;
}
.clearfix:after {
       content: "";
      display: block;
        clear: both;
    }

    /* стилизация шапки */
.header {
   background-color: #5a708e;
}

.header__left {
   float: left;
   width: 60%;
}
.header__title {
   padding-bottom: 40px;
   padding-top: 40px;
}
.header__title-link {
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
color: #8bc3da;

font-size: 32px;
font-weight: 700;
}
.header__right {
   float: right;
   width: 40%;
}
.header__menu-text {
   padding-top: 54px;
   padding-bottom: 54px;
}
.menu__item {
   display: inline-block;
   vertical-align: middle;
   margin-right: 25px;
}
.menu__text {
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
color: #ffffff;
font-size: 16px;
font-weight: 400;

}
.menu__text:hover {
   color: #82b3cc;
}
/* Обо мне */

.about {
   background-color: #73a9bf;
   padding-top: 50px;
   padding-bottom: 70px;
}
.about__icons {
   font-size: 28px;
   color: #ffff;
   font-weight: 400;
}
.about__text {
   color: #ffffff;
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
line-height: 30px;
}