/* базовые стили по умолчанию */

* {
   box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
   margin-top: 0;
   margin-bottom: 0;
   font-weight: normal;
}

html,body {
   height: 100%;
   width: 100%;
}
body {
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  
}

a {
   text-decoration: none;
}
ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
@font-face {
   font-family:'fontawesome';
   src: url('fonts/fontawesome-webfont-webfont.woff2') format('woff2'),
        url('fonts/fontawesome-webfont-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

.container {
   margin: 0 auto;
   width: 950px;
}

.wrapper {
   overflow: hidden;  
   min-height: 100%;
}
.clearfix:after {
       content: "";
      display: block;
        clear: both;
    }

    /* стилизация шапки */
.header {
   background-color: #5a708e;
}

.header__left {
   float: left;
   width: 60%;
}
.header__title {
   padding-bottom: 40px;
   padding-top: 40px;
}
.header__title-link {
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
color: #8bc3da;

font-size: 32px;
font-weight: 700;
}
.header__right {
   float: right;
   width: 40%;
}
.header__menu-text {
   padding-top: 54px;
   padding-bottom: 54px;
}
.menu__item {
   display: inline-block;
   vertical-align: middle;
   margin-right: 25px;
}
.menu__text {
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
color: #ffffff;
font-size: 16px;
font-weight: 400;

}
.menu__text:hover {
   color: #82b3cc;
}
/* Обо мне */

.about {
   background-color: #73a9bf;
   padding-top: 50px;
   padding-bottom: 70px;
}
.about__desc {
   margin-bottom: 70px;
}
.about__icons {
   font-size: 28px;
   color: #ffff;
   font-weight: 400;
   cursor: pointer;
   
}
.about__icons:hover {
   color: #414141;
}
.about__icons:before {
   font-family:'fontawesome';
   content: "\f21b";
   
}

.about__text {
   margin-top: 25px;
   color: #ffffff;
   width: 620px;
font-size: 20px;
font-weight: 400;
line-height: 30px;
}
.about__left {
   width: 40%;
   float: left;
   
}
.about__avatar {
   border-radius: 50%;
   width: 340px;
   height: 340px;
   overflow: hidden;
   border: 5px solid #5a708e;
}
.about__pic {
   max-width: 100%;
}

.about__rigth {
   width: 60%;
   float: right;
}
.about__list {
   padding-top: 50px;
   padding-bottom: 50px;
}
.about__item {
   margin-left: 70px;
   margin-bottom: 20px;
   position: relative;   
   background: url('/img/decor/dot.png') 0 bottom repeat-x;
}
.about__block-name, .about__name {
   display: inline-block;
   vertical-align: middle;
} 
.about__block-name {
   margin-right: 10px;
   font-size: 18px;
   font-weight: 400;
   
   color: #ffff;
}
.about__name {
  position: absolute;
  right: 0;
   font-size: 18px;
font-weight: 400;

color: #ffff;
}
.about--color {
   color: #5a708e
}
/* блок опыт работы */
.work {
   padding-top: 80px;
   padding-bottom: 80px;
   background-color: #efe8dd;
}